@charset "utf-8";
/* body */
body{
	font-family:Arial, Helvetica, sans-serif;
	background-color:#333;
	margin:0;
}
a{
	text-decoration:none;
	color:white;
}
/* CSS HEADER */
@media screen and (max-width: 1280px){
	div.container {
		width:1366px;
	}
	div.ads{
		display:none;	
	}
}

div.colorHead{
	background-color:#007eed;
}
div.Header{
	width:70%;
	overflow:hidden;
	height:100px;
	margin:0 auto;
}
div.Header span{
	padding-left:3px;
}
/* logo */
div.logo{
	float:left;
	padding-right:30px;	
}
div.logo img{
	width:300px;
	height:100px;	
}
/* search*/
div.search{
	float:left;
	margin-top:35px;
}
div.search input{
	width:250px;
	height:36px;
	border-radius:12px;
	padding-left:5px;
	font-size:16px;
	font-weight:bold;
}
div.search button{
	border-radius:5px;
	width:100px;
	height:40px;
	background-color:#006;
	color:#FFF;
	border:none;
	font-weight:bold;
}
div.search button:active{
	border:3px solid white;
}
/* control */
div.control{
	padding-top:35px;
}
div.control a img{
	width:19px;
	height:17px;
	padding-right:5px;
}
div.control > a{
	background-color:#FC3;
	width:110px;
	color:#000;
	height:30px;
	text-align:center;
	float:right;
	margin-right:5px;
	padding-top:9px;
	border-radius:5px;
}
div.control a:hover{
	background-color:#F60;
}
div.control a:active{
	border:3px solid white;
}
/* CSS MENU */
div.menu{
	overflow:hidden;
	width:70%;
	margin:5px auto;
}
div.menu ul{
	background-color:#63C;
	list-style-type:none;
	float:left;
	padding:0;
	margin:0;
}
div.menu a.listMenu{
	display:block;
	padding:8px 24px;
	border-right:1px solid white;
	text-align:center;
}
div.menu a.listMenu:hover{
	color:#FC3;
}
div.menu ul.list > li:last-child a.listMenu{
	border-right:none;
	width:203px;
}
div.menu li{
	float:left;
}
ul.listItem{
	display:none;
	font-size:16px;
	border:none;
	width:400px;
	background:rgba(102,51,255,0.5);
	border-radius:5px;
	position: relative;
	z-index:99;
}
div.menu li:hover ul.listItem{
	display:block;
	border:1px solid white;
	position:absolute;
}
ul.listItem > li{
	width:170px;
	padding:5px 10px;
}
ul.listItem > li:hover a{
	color:#FC3;
}
/* CSS ADS */
div.ads div{
	position:fixed;
	text-transform:uppercase;
	border-radius:5px;
	background-color:#FFF;
	text-align:center;
	width:13%;
	height:345px;
	line-height:345px;
}
div.ads > div.ads-left{
	left:1%;
}
div.ads > div.ads-right{
	right:1%;
	
}
/* CSS FOOTER */
div.footer{
	overflow:hidden;
	position:relative;
	background-color:#007eed;
	left:0;
	right:0;
	bottom:0;
}
div.footer h1{
	font-size:50px;
	font-weight:bold;
	margin:0;
}
div.footer div.gioi-thieu{
	width:70%;
	margin:0 auto;
}
div.footer div.left{
	width:330px;
	float:left;
}
div.footer div.left p{
	margin-top:0;
}
div.footer div.left a > img{
	width:25px;
	height:25px;
}
div.footer div.left a:hover > img{
	opacity:0.8;
	border:1px solid;
}
div.footer div.right{
	float:right;
	padding:10px;
}
div.footer div.right a{
	color:#FC0;
	text-decoration:underline;
}
div.footer div.right a:hover{
	color:red;
}
div.footer div.right p{
	margin:0;
	font-weight:bold;
	text-align:center;
}
/* CSS BODY */
div.body{
	width:70%;
	margin: 20px auto;
	color:white;
	height:2600px;
}
div.body ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
-->Slider
div.slider{
	height:400px;
}
div.slider ul li a{
	display:block;
}
div.slider ul li img{
	width:100%;
	height:400px;
	background-size:cover;
}
div.picControl img{
	width:50px;
	height:55px;
}
div.picControl{
	width:70%;
	line-height:400px;
	position:absolute;
}
div.picControl button{
	padding:0;
	opacity:0.6;
	background-color:transparent;
	border:none;
}
div.picControl div.back{
	float:left;
	padding-left:5px;
}
div.picControl div.next{
	float:right;
	padding-right:5px;
}
div.body picControl{
	size:20px 20px;
	color:white;
	position:absolute;
}
-->list phim
div.listItem{
	position:relative;
	overflow:hidden;
}
div.listItem div.title{
	position:relative;
	background-color:#63C;
	overflow:hidden;
	width:100%;
	height:50px;
	border-bottom:2px solid;
	border-top:2px solid;
	margin-top:5px;
}
div.listItem div.title h2{
	margin:0;
	text-transform:uppercase;
	float:left;
	line-height:50px;
}
div.listItem div.title > img{
	width:20px;
	height:20px;
	float:left;
	padding: 15px 10px;
}
div.listItem div.title > a{
	float:right;
	line-height:50px;
	padding-right:15px;
}
div.listItem div.title > a:hover{
	text-decoration:underline;
}
div.listItem ul{
	list-style-type:none;
}

div.listItem ul li{
	margin:0;
	padding:25px 15px;
	width:204px;
	height:350px;
	float:left;
}
div.listItem ul li img{
	width:200px;
	height:300px;
	background-size:cover;
}
div.listItem li h4,h5,p{
	margin:0;
	padding-top:2px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
div.listItem li h4{
	text-transform:uppercase;
	color:#FC0;
}
div.listItem li h5{
	color:#FFF;
}
div.listItem li p{
	padding-top:10px;
	color:#999;
	font-size:12px;
}
div.listItem li.col a{
	display:block;
	background-color:#000;
	border-bottom:2px solid #666;
	padding:2px;
}
div.listItem li.col a:hover img{
	opacity:0.8;
}
div.listItem li.col a:hover div.details > h5{
	color:#F33;
}
-->button Back to Top
div.backTop{
	position:relative;
}
div.backTop button{
	position:fixed;
	right:1%;
	bottom:1%;
	display:none;
	background-color:#F00;
	border-radius:10px;
	border:0;
	z-index:1;
}
div.backTop button img{
	width:30px;
	height:30px;
	padding-top:5px;
}
div.backTop button:hover{
	background-color:#FF0;
}
span.bttooltip{
	display:none;
	position:fixed;
	text-align:center;
	background-color:white;
	width:120px;
	line-height:40px;
	border-radius:10px;	
	right:1%;
	bottom:9%;
	font-weight:bold;
	z-index:1;
}
span.bttooltip::after {
	content:" ";
	border-width:8px;
	border-style:solid;
	border-color:white transparent transparent transparent;
	position:absolute;
	bottom:-35%;
	right:10%;
}
div.backTop:hover span.bttooltip{
	display:block;
}