@charset "utf-8";
/* Form */
div.body{
	width:70%;
	height:600px;
	margin:0 auto;
	background-color:#484848;
	color:white;
}
div.form-content0 > a > img{
	margin-left:150px;	
}
div.body > div.form{
	width:70%;
	height:600px;	
	background:#666;
	margin-top:15px;
}
div.form > div.form_header{
	padding:1px 25px;	
}
div.form-content > div.form- > span{
	margin:0;
	width:180px;
	text-align:center;
	line-height:34px;
	padding-left:10px;
}

div.form-content> div.form-{
	height:35px;
	margin:5px;	
}
div.form-content> div.form- > input{
	height:25px;
	width: 210px;
}

div.form-footer > input{
	width:210px;
	height:40px;
	font-size:22px;
	margin:10px 150px;	
}
div.form-footer > h4{
	margin: 10px;	
}
div.form-footer > input:hover{
	background:#05fffa;
	border:1px solid #000;
}

